In [1]:
import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

In [2]:
data311 = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9')

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,17,39,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data311.columns # see columns that are in the dataset

Index([u'Unique Key', u'Created Date', u'Closed Date', u'Agency',
       u'Agency Name', u'Complaint Type', u'Descriptor', u'Location Type',
       u'Incident Zip', u'Incident Address', u'Street Name', u'Cross Street 1',
       u'Cross Street 2', u'Intersection Street 1', u'Intersection Street 2',
       u'Address Type', u'City', u'Landmark', u'Facility Type', u'Status',
       u'Due Date', u'Resolution Description',
       u'Resolution Action Updated Date', u'Community Board', u'Borough',
       u'X Coordinate (State Plane)', u'Y Coordinate (State Plane)',
       u'Park Facility Name', u'Park Borough', u'School Name',
       u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'],
      dtype='object')

In [4]:
data311 = data311[['Unique Key', 'Agency Name', 'Complaint Type', 'Descriptor', 
       'Resolution Description', 'Community Board',
       'Borough', 'Latitude', 'Longitude', 'Location']] # Keep necessary columns

In [5]:
data311.shape

(10187766, 10)

In [6]:
data311.head()

,Unique Key,Agency Name,Complaint Type,Descriptor,Resolution Description,Community Board,Borough,Latitude,Longitude,Location
0,31911011,Department of Transportation,Street Condition,Pothole,NaN,13 BROOKLYN,BROOKLYN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,CHALL,Opinion for the Mayor,HOUSING,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified,NaN,NaN,NaN
2,31910423,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,The Department of Parks and Recreation usually...,18 BROOKLYN,BROOKLYN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)"
3,31909924,New York City Police Department,Illegal Parking,Blocked Hydrant,Your complaint has been received by the Police...,12 BROOKLYN,BROOKLYN,40.634522,-73.974790,"(40.634522428879706, -73.97479041437481)"
4,31913310,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,The Human Resources Administration received yo...,0 Unspecified,Unspecified,NaN,NaN,NaN

In [7]:
data311 = data311.drop_duplicates(['Unique Key'], keep='last') # drop duplicates based on "Unique Key"

In [8]:
len(data311) # we can see not that much data has been reduced

10187744

In [9]:
communityDistricts = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/w3c6-35wg/1422440891/w3c6-35wg')

In [10]:
Borough, Number, Board = [], [], []
for i in range(len(communityDistricts['JURISDICTION NAME'])):
    Borough.append(communityDistricts['JURISDICTION NAME'].tolist()[i].split(" ")[0])
    Number.append(communityDistricts['JURISDICTION NAME'].tolist()[i].split(" ")[2])

In [11]:
for i in range(len(communityDistricts['JURISDICTION NAME'])):
    Board.append(str('{:02d}'.format(int(Number[i])) + ' ' + Borough[i].upper()))

In [12]:
print(Board)

['01 BRONX', '02 BRONX', '03 BRONX', '04 BRONX', '05 BRONX', '06 BRONX', '07 BRONX', '08 BRONX', '09 BRONX', '10 BRONX', '11 BRONX', '12 BRONX', '01 BROOKLYN', '02 BROOKLYN', '03 BROOKLYN', '04 BROOKLYN', '05 BROOKLYN', '06 BROOKLYN', '07 BROOKLYN', '08 BROOKLYN', '09 BROOKLYN', '10 BROOKLYN', '11 BROOKLYN', '12 BROOKLYN', '13 BROOKLYN', '14 BROOKLYN', '15 BROOKLYN', '16 BROOKLYN', '17 BROOKLYN', '18 BROOKLYN', '01 MANHATTAN', '02 MANHATTAN', '03 MANHATTAN', '04 MANHATTAN', '05 MANHATTAN', '06 MANHATTAN', '07 MANHATTAN', '08 MANHATTAN', '09 MANHATTAN', '10 MANHATTAN', '11 MANHATTAN', '12 MANHATTAN', '01 QUEENS', '02 QUEENS', '03 QUEENS', '04 QUEENS', '05 QUEENS', '06 QUEENS', '07 QUEENS', '08 QUEENS', '09 QUEENS', '10 QUEENS', '11 QUEENS', '12 QUEENS', '13 QUEENS', '14 QUEENS', '01 RICHMOND', '02 RICHMOND', '03 RICHMOND']

In [13]:
len(Board)

59

In [14]:
data311 = data311[data311['Community Board'].isin(Board)]
data311['Community Board'].unique()

array(['13 BROOKLYN', '18 BROOKLYN', '12 BROOKLYN', '08 MANHATTAN',
       '06 BROOKLYN', '10 BRONX', '06 MANHATTAN', '04 BROOKLYN',
       '04 QUEENS', '09 MANHATTAN', '14 BROOKLYN', '05 MANHATTAN',
       '02 MANHATTAN', '10 QUEENS', '07 QUEENS', '02 QUEENS',
       '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN', '09 QUEENS',
       '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN', '03 BRONX',
       '08 BROOKLYN', '03 BROOKLYN', '07 MANHATTAN', '10 MANHATTAN',
       '04 BRONX', '01 MANHATTAN', '07 BRONX', '09 BRONX', '03 MANHATTAN',
       '13 QUEENS', '02 BRONX', '12 QUEENS', '16 BROOKLYN', '08 QUEENS',
       '04 MANHATTAN', '14 QUEENS', '10 BROOKLYN', '11 QUEENS', '06 BRONX',
       '08 BRONX', '05 BRONX', '15 BROOKLYN', '02 BROOKLYN', '12 BRONX',
       '03 QUEENS', '06 QUEENS', '01 BRONX', '01 QUEENS', '17 BROOKLYN',
       '11 BRONX', '09 BROOKLYN', '07 BROOKLYN'], dtype=object)

In [15]:
len(set(data311['Community Board']))

56

In [16]:
# .str.contains('some strings')==False which filter out unspecified community board
#data311 = data311[data311['Community Board'].str.contains('Unspecified') == False]

In [17]:
data311.columns

Index([u'Unique Key', u'Agency Name', u'Complaint Type', u'Descriptor',
       u'Resolution Description', u'Community Board', u'Borough', u'Latitude',
       u'Longitude', u'Location'],
      dtype='object')

In [18]:
data311['Community Board'].head()

0     13 BROOKLYN
2     18 BROOKLYN
3     12 BROOKLYN
7    08 MANHATTAN
8     06 BROOKLYN
Name: Community Board, dtype: object

In [19]:
complaints = data311[['Complaint Type', 'Community Board']].groupby(data311['Community Board']).count()

In [20]:
complaints.head()

                 Complaint Type  Community Board
Community Board
01 BRONX                  74631            74631
01 BROOKLYN              185057           185057
01 MANHATTAN              77974            77974
01 QUEENS                171484           171484
02 BRONX                  60257            60257

In [21]:
complaints.drop('Community Board', axis=1, inplace=True)

In [22]:
complaints.rename(columns={'Complaint Type':'Complaints'}, inplace=True)

In [23]:
complaints.head()

                 Complaints
Community Board
01 BRONX              74631
01 BROOKLYN          185057
01 MANHATTAN          77974
01 QUEENS            171484
02 BRONX              60257

In [24]:
# load Demographics Data
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv")

In [25]:
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [26]:
df_pop.columns.values

array(['FIPS', 'cd_id', 'Total Population',
       'Population Density (per sq. mile)', '% Total Population: Male',
       '% Total Population: 18 to 24 Years',
       '% Total Population: 25 to 34 Years',
       '% Total Population: 35 to 44 Years',
       '% Population 5 Years And Over: Speak Only English',
       '% Population 5 Years And Over: Spanish or Spanish Creole',
       '% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"',
       '% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"',
       'Population 25 Years and over:',
       'Population 25 Years and over: Less Than High School',
       'Population 25 Years and over: High School Graduate (includes equivalency)',
       'Population 25 Years and over: Some college',
       "Population 25 Years and over: Bachelor's degree",
       "Population 25 Years and over: Master's degree",
       'Population 25 Years and over: Professional school degree',
       'Population 25 Years and over: Doctorate degree',
       '% Population 25 Years and over: Less Than High School',
       '% Population 25 Years and over: High School Graduate (includes equivalency)',
       '% Population 25 Years and over: Some college',
       "% Population 25 Years and over: Bachelor's degree",
       "% Population 25 Years and over: Master's degree",
       '% Population 25 Years and over: Professional school degree',
       '% Population 25 Years and over: Doctorate degree',
       'Population 25 Years and over:.1',
       'Population 25 Years and over: Less Than High School.1',
       'Population 25 Years and over: High School Graduate or more (includes equivalency)',
       'Population 25 Years and over: Some college or more',
       "Population 25 Years and over: Bachelor's degree or more",
       "Population 25 Years and over: Master's degree or more",
       'Population 25 Years and over: Professional school degree or more',
       'Population 25 Years and over: Doctorate degree.1',
       '% Population 25 Years and over: Less Than High School.1',
       '% Population 25 Years and over: High School Graduate or more (includes equivalency)',
       '% Population 25 Years and over: Some college or more',
       "% Population 25 Years and over: Bachelor's degree or more",
       "% Population 25 Years and over: Master's degree or more",
       '% Population 25 Years and over: Professional school degree or more',
       '% Population 25 Years and over: Doctorate degree.1',
       'Population 3 Years and over:',
       'Population 3 Years and over: Enrolled in School',
       'Population 3 Years and over: Not Enrolled in School',
       '% Population 3 Years and over: Enrolled in School',
       '% Population 3 Years and over: Not Enrolled in School',
       'Population 3 Years and over Enrolled In School',
       'Population 3 Years and over Enrolled In School: Public School',
       'Population 3 Years and over Enrolled In School: Public School: Pre-school',
       'Population 3 Years and over Enrolled In School: Public School: K-8',
       'Population 3 Years and over Enrolled In School: Public School: 9-12',
       'Population 3 Years and over Enrolled In School: Public School: College',
       'Population 3 Years and over Enrolled In School: Private School',
       'Population 3 Years and over Enrolled In School: Private School: Pre-school',
       'Population 3 Years and over Enrolled In School: Private School: K-8',
       'Population 3 Years and over Enrolled In School: Private School: 9-12',
       'Population 3 Years and over Enrolled In School: Private School: College',
       '% Population 3 Years and over Enrolled In School: Public School',
       '% Population 3 Years and over Enrolled In School: Public School: Pre-school',
       '% Population 3 Years and over Enrolled In School: Public School: K-8',
       '% Population 3 Years and over Enrolled In School: Public School: 9-12',
       '% Population 3 Years and over Enrolled In School: Public School: College',
       '% Population 3 Years and over Enrolled In School: Private School',
       '% Population 3 Years and over Enrolled In School: Private School: Pre-school',
       '% Population 3 Years and over Enrolled In School: Private School: K-8',
       '% Population 3 Years and over Enrolled In School: Private School: 9-12',
       '% Population 3 Years and over Enrolled In School: Private School: College',
       'Employed civilian Population 16 Years and over:',
       'Employed civilian Population 16 Years and over: Management, business, and financial operations  occupations',
       'Employed civilian Population 16 Years and over: Professional and related occupations',
       'Employed civilian Population 16 Years and over: Healthcare support occupations',
       'Employed civilian Population 16 Years and over: Protective service occupations',
       'Employed civilian Population 16 Years and over: Food preparation and serving related occupations',
       'Employed civilian Population 16 Years and over: Building and grounds cleaning and maintenance  occupations',
       'Employed civilian Population 16 Years and over: Personal care and service occupations',
       'Employed civilian Population 16 Years and over: Sales and related occupations',
       'Employed civilian Population 16 Years and over: Office and administrative support occupations',
       'Employed civilian Population 16 Years and over: Farming, fishing, and forestry occupations',
       'Employed civilian Population 16 Years and over: Construction, extraction, and maintenance  occupations',
       'Employed civilian Population 16 Years and over: Production occupations',
       'Employed civilian Population 16 Years and over: Transportation and material moving occupations',
       '% Employed civilian Population 16 Years and over: Management, business, and financial operations  occupations',
       '% Employed civilian Population 16 Years and over: Professional and related occupations',
       '% Employed civilian Population 16 Years and over: Healthcare support occupations',
       '% Employed civilian Population 16 Years and over: Protective service occupations',
       '% Employed civilian Population 16 Years and over: Food preparation and serving related occupations',
       '% Employed civilian Population 16 Years and over: Building and grounds cleaning and maintenance  occupations',
       '% Employed civilian Population 16 Years and over: Personal care and service occupations',
       '% Employed civilian Population 16 Years and over: Sales and related occupations',
       '% Employed civilian Population 16 Years and over: Office and administrative support occupations',
       '% Employed civilian Population 16 Years and over: Farming, fishing, and forestry occupations',
       '% Employed civilian Population 16 Years and over: Construction, extraction, and maintenance  occupations',
       '% Employed civilian Population 16 Years and over: Production occupations',
       '% Employed civilian Population 16 Years and over: Transportation and material moving occupations',
       'Employed Civilian Population 16 Years And Over:',
       'Employed Civilian Population 16 Years And Over: Private Sector',
       'Employed Civilian Population 16 Years And Over: Public Sector',
       'Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)',
       'Employed Civilian Population 16 Years And Over: Private Non-Profit',
       'Employed Civilian Population 16 Years And Over: Unpaid Family Workers',
       '% Employed Civilian Population 16 Years And Over: Private Sector',
       '% Employed Civilian Population 16 Years And Over: Public Sector',
       '% Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)',
       '% Employed Civilian Population 16 Years And Over: Private Non-Profit',
       '% Employed Civilian Population 16 Years And Over: Unpaid Family Workers',
       'Households:', 'Households: Less than $10,000',
       'Households: $10,000 to $14,999', 'Households: $15,000 to $19,999',
       'Households: $20,000 to $24,999', 'Households: $25,000 to $29,999',
       'Households: $30,000 to $34,999', 'Households: $35,000 to $39,999',
       'Households: $40,000 to $44,999', 'Households: $45,000 to $49,999',
       'Households: $50,000 to $59,999', 'Households: $60,000 to $74,999',
       'Households: $75,000 to $99,999',
       'Households: $100,000 to $124,999',
       'Households: $125,000 to $149,999',
       'Households: $150,000 to $199,999', 'Households: $200,000 or More',
       '% Households: Less than $10,000',
       '% Households: $10,000 to $14,999',
       '% Households: $15,000 to $19,999',
       '% Households: $20,000 to $24,999',
       '% Households: $25,000 to $29,999',
       '% Households: $30,000 to $34,999',
       '% Households: $35,000 to $39,999',
       '% Households: $40,000 to $44,999',
       '% Households: $45,000 to $49,999',
       '% Households: $50,000 to $59,999',
       '% Households: $60,000 to $74,999',
       '% Households: $75,000 to $99,999',
       '% Households: $100,000 to $124,999',
       '% Households: $125,000 to $149,999',
       '% Households: $150,000 to $199,999',
       '% Households: $200,000 or More',
       'Median household income (In 2014 Inflation Adjusted Dollars)',
       'Per capita income (In 2014 Inflation Adjusted Dollars)',
       'Employed Civilian Population 16 Years And Over:.1',
       'Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       'Employed Civilian Population 16 Years And Over: Service occupations',
       'Employed Civilian Population 16 Years And Over: Sales and office occupations',
       'Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       'Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       '% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       '% Employed Civilian Population 16 Years And Over: Service occupations',
       '% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       '% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       '% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'], dtype=object)

In [27]:
len(df_pop.cd_id.unique()) # 59 districts

59

In [28]:
df_pop["Higher Ed"] = df_pop["Population 25 Years and over: Master's degree or more"] + \
                    df_pop["Population 25 Years and over: Professional school degree or more"] + \
                    df_pop["Population 25 Years and over: Doctorate degree.1"]

In [29]:
df_pop["higher_pay_household"] = df_pop["Households: $125,000 to $149,999"] + \
                             df_pop["Households: $150,000 to $199,999"] + \
                             df_pop["Households: $200,000 or More"]

In [30]:
# Save data frame
df_pop = df_pop[["cd_id","Total Population","higher_pay_household","Median household income (In 2014 Inflation Adjusted Dollars)"]]

In [31]:
df_pop.head()

,cd_id,Total Population,higher_pay_household,Median household income (In 2014 Inflation Adjusted Dollars)
0,BX08,106737,6000,54224
1,BX12,134644,4761,44906
2,BX10,121209,6857,54962
3,BX11,135839,5163,47910
4,BX03,172247,1428,22041

In [32]:
# load infrastructure by community districts
df_infr = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [33]:
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [34]:
df_infr.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [35]:
len(df_infr['Qualifying Name'].unique()) # 55 districts

55

In [36]:
df_infr["household_mobile"] = df_infr["Households: With Mobile Broadband"] + \
                              df_infr["Households: With Mobile Broadband.1"] + \
                              df_infr["Households: With Mobile Broadband.2"] + \
                              df_infr["Households: With Mobile Broadband.3"] + \
                              df_infr["Households: With Mobile Broadband.4"] + \
                              df_infr["Households: Mobile Broadband Alone or With Dialup"]

In [37]:
df_infr["household_notmobile"] = df_infr["Households: Without Mobile Broadband"] + \
                                 df_infr["Households: Without Mobile Broadband.1"] + \
                                 df_infr["Households: Without Mobile Broadband.2"] + \
                                 df_infr["Households: Without Mobile Broadband.3"] + \
                                 df_infr["Households: Without Mobile Broadband.4"] + \
                                 df_infr["Households: Internet Access Without A Subscription"] + \
                                 df_infr["Households: No Internet Access"] + \
                                 df_infr["Households: Dial-Up Alone"]

In [38]:
# High speed internet users
df_infr["household_highinternet"] = df_infr["Households: Dsl"] + \
                                    df_infr["Households: Cable Modem"] + \
                                    df_infr["Households: Fiber-Optic"] + \
                                    df_infr["Households: Satellite Internet Service"] + \
                                    df_infr["Households: Two or More Fixed Broadband Types, or Other"]

In [39]:
# Low speed internet users
df_infr["household_lowinternet"] = df_infr["Households: Dial-Up Alone"] + \
                                   df_infr["Households: Mobile Broadband Alone or With Dialup"] + \
                                   df_infr["Households: Internet Access Without A Subscription"]

In [40]:
df_infr = df_infr[["Qualifying Name","household_mobile","household_notmobile",\
                   "household_highinternet","household_lowinternet"]]

In [41]:
df_infr.head()

,Qualifying Name,household_mobile,household_notmobile,household_highinternet,household_lowinternet
0,"NYC-Bronx Community District 8--Riverdale, New...",17527,24508,29183,4731
1,"NYC-Bronx Community District 12--Wakefield, Ne...",11414,33416,31137,2997
2,"NYC-Bronx Community District 10--Co-op City, N...",12064,34986,31932,3679
3,NYC-Bronx Community District 11--Pelham Parkwa...,11749,33173,30861,3864
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",16292,41264,34030,4785

In [42]:
complaints.head()

                 Complaints
Community Board
01 BRONX              74631
01 BROOKLYN          185057
01 MANHATTAN          77974
01 QUEENS            171484
02 BRONX              60257

In [43]:
complaints = complaints.reset_index()

In [44]:
complaints["Community Board"] = complaints["Community Board"].str.replace("MA+.*", "MN")
complaints["Community Board"] = complaints["Community Board"].str.replace("ST+.*", "SI")
complaints["Community Board"] = complaints["Community Board"].str.replace("BROO+.*", "BK")
complaints["Community Board"] = complaints["Community Board"].str.replace("QU+.*", "QN")
complaints["Community Board"] = complaints["Community Board"].str.replace("BRON+.*", "BX")

In [45]:
complaints["cd_id"] = complaints["Community Board"].str.extract('([A-Z]{2,})', expand=True)\
                         + complaints["Community Board"].str.extract('([0-9]\d{0,})', expand=True)

In [46]:
df_pop['cd_id'].unique()

array(['BX08', 'BX12', 'BX10', 'BX11', 'BX03', 'BX06', 'BX07', 'BX05',
       'BX04', 'BX09', 'BX01', 'BX02', 'MN12', 'MN09', 'MN10', 'MN11111',
       'MN08', 'MN07', 'MN05', 'MN04', 'MN06', 'MN03', 'MN01', 'MN02',
       'SI03', 'SI02', 'SI01', 'BK01', 'BK04', 'BK03', 'BK02', 'BK06',
       'BK08', 'BK16', 'BK05', 'BK18', 'BK17', 'BK09', 'BK07', 'BK10',
       'BK12', 'BK14', 'BK15', 'BK11', 'BK13', 'QN01', 'QN03', 'QN07',
       'QN11', 'QN13', 'QN08', 'QN04', 'QN06', 'QN02', 'QN05', 'QN09',
       'QN12', 'QN10', 'QN14'], dtype=object)

In [47]:
df_pop.replace('MN11111', 'MN11', inplace=True)
df_pop['cd_id'].unique()

array(['BX08', 'BX12', 'BX10', 'BX11', 'BX03', 'BX06', 'BX07', 'BX05',
       'BX04', 'BX09', 'BX01', 'BX02', 'MN12', 'MN09', 'MN10', 'MN11',
       'MN08', 'MN07', 'MN05', 'MN04', 'MN06', 'MN03', 'MN01', 'MN02',
       'SI03', 'SI02', 'SI01', 'BK01', 'BK04', 'BK03', 'BK02', 'BK06',
       'BK08', 'BK16', 'BK05', 'BK18', 'BK17', 'BK09', 'BK07', 'BK10',
       'BK12', 'BK14', 'BK15', 'BK11', 'BK13', 'QN01', 'QN03', 'QN07',
       'QN11', 'QN13', 'QN08', 'QN04', 'QN06', 'QN02', 'QN05', 'QN09',
       'QN12', 'QN10', 'QN14'], dtype=object)

In [48]:
cdid = []
for i in df_infr["Qualifying Name"]:
    cur = i.split(' ') 
    res = [];
    if cur[0] == 'NYC-Manhattan':
        res.append("MN")
        num = cur[3].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    elif  cur[0] == 'NYC-Brooklyn':
        res.append("BK")
        num = cur[3].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    elif  cur[0] == 'NYC-Bronx':
        res.append("BX")
        num = cur[3].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    elif  cur[0] == 'NYC-Staten':
        res.append("SI")
        num = cur[4].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    elif  cur[0] == 'NYC-Queens':
        res.append("QN")
        num = cur[3].split('--'); 
        if(int(num[0])<10):
            res.append('0'+num[0])
        else:
             res.append(num[0]) 
    cdid.append(''.join(res))
print (cdid)

['BX08', 'BX12', 'BX10', 'BX11', 'BX03', 'BX03', 'BX07', 'BX05', 'BX04', 'BX09', 'BX01', 'BX01', 'MN12', 'MN09', 'MN10', 'MN11', 'MN08', 'MN07', 'MN04', 'MN04', 'MN06', 'MN03', 'MN01', 'MN01', 'SI03', 'SI02', 'SI01', 'BK01', 'BK04', 'BK03', 'BK02', 'BK06', 'BK08', 'BK16', 'BK05', 'BK18', 'BK17', 'BK09', 'BK07', 'BK10', 'BK12', 'BK14', 'BK15', 'BK11', 'BK13', 'QN01', 'QN03', 'QN07', 'QN11', 'QN13', 'QN08', 'QN04', 'QN06', 'QN02', 'QN05', 'QN09', 'QN12', 'QN10', 'QN14']

In [49]:
cdid = ['BX08', 'BX12', 'BX10', 'BX11', 'BX03', 'BX06', 'BX07', 'BX05', 'BX04', 'BX09', 'BX01', 'BX02',
       'MA12', 'MA09', 'MA10', 'MA11', 'MA08', 'MA07', 'MA04', 'MA05', 'MA06', 'MA03', 'MA01', 'MA02',
       'SI03', 'SI02', 'SI01', 'BK01', 'BK04', 'BK03', 'BK02', 'BK06', 'BK08', 'BK16', 'BK05', 'BK18',
       'BK17', 'BK09', 'BK07', 'BK10', 'BK12', 'BK14', 'BK15', 'BK11', 'BK13', 'QN01', 'QN03', 'QN07',
       'QN11', 'QN13', 'QN08', 'QN04', 'QN06', 'QN02', 'QN05', 'QN09', 'QN12', 'QN10', 'QN14']

In [50]:
df_infr["cd_id"] = cdid

In [51]:
combine = pd.merge(df_infr, complaints, on = "cd_id",how ="inner")

In [52]:
combine = pd.merge(combine, df_pop, on = "cd_id" )

In [53]:
combine

,Qualifying Name,household_mobile,household_notmobile,household_highinternet,household_lowinternet,cd_id,Community Board,Complaints,Total Population,higher_pay_household,Median household income (In 2014 Inflation Adjusted Dollars)
0,"NYC-Bronx Community District 8--Riverdale, New...",17527,24508,29183,4731,BX08,08 BX,92733,106737,6000,54224
1,"NYC-Bronx Community District 12--Wakefield, Ne...",11414,33416,31137,2997,BX12,12 BX,168455,134644,4761,44906
2,"NYC-Bronx Community District 10--Co-op City, N...",12064,34986,31932,3679,BX10,10 BX,95496,121209,6857,54962
3,NYC-Bronx Community District 11--Pelham Parkwa...,11749,33173,30861,3864,BX11,11 BX,122079,135839,5163,47910
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",16292,41264,34030,4785,BX03,03 BX,75134,172247,1428,22041
5,"NYC-Bronx Community District 3 & 6--Belmont, N...",16292,41264,34030,4785,BX06,06 BX,99547,172247,1428,22041
6,"NYC-Bronx Community District 7--Bedford Park, ...",16709,30543,29844,6279,BX07,07 BX,185729,135893,1412,35495
7,NYC-Bronx Community District 5--Morris Heights...,15857,28842,25216,4096,BX05,05 BX,161078,132850,854,20872
8,"NYC-Bronx Community District 4--Concourse, New...",18342,29593,26686,6391,BX04,04 BX,181953,141467,1375,27203
9,"NYC-Bronx Community District 9--Castle Hill, N...",12892,51119,44133,3714,BX09,09 BX,147457,190126,4427,36058
10,NYC-Bronx Community District 1 & 2--Hunts Poin...,15981,36210,31711,3414,BX01,01 BX,74631,167147,1392,21116
11,NYC-Bronx Community District 1 & 2--Hunts Poin...,15981,36210,31711,3414,BX02,02 BX,60257,167147,1392,21116
12,NYC-Brooklyn Community District 1--Greenpoint ...,21459,41531,44621,4843,BK01,01 BK,185057,154713,12984,57818
13,NYC-Brooklyn Community District 4--Bushwick PU...,14171,33409,28064,7152,BK04,04 BK,139702,137368,3860,40484
14,NYC-Brooklyn Community District 3--Bedford-Stu...,12648,38040,29116,6005,BK03,03 BK,197305,133235,4632,34678
15,NYC-Brooklyn Community District 2--Brooklyn He...,18679,38509,44284,4124,BK02,02 BK,121021,139070,17861,84568
16,"NYC-Brooklyn Community District 6--Park Slope,...",23815,25894,43121,2363,BK06,06 BK,114029,125062,22585,113045
17,NYC-Brooklyn Community District 8--Crown Heigh...,10559,39707,34262,2663,BK08,08 BK,141118,126747,6341,44904
18,NYC-Brooklyn Community District 16--Brownsvill...,5927,38342,24666,2758,BK16,16 BK,85466,123772,1718,25259
19,NYC-Brooklyn Community District 5--East New Yo...,9572,45564,35899,3362,BK05,05 BK,189765,155863,3057,32996
20,NYC-Brooklyn Community District 18--Canarsie &...,19215,50765,53091,3813,BK18,18 BK,156100,210957,12690,62090
21,NYC-Brooklyn Community District 17--East Flatb...,13596,37115,34523,2336,BK17,17 BK,191720,137526,5766,42349
22,NYC-Brooklyn Community District 9--Crown Heigh...,8591,32690,28039,1880,BK09,09 BK,135830,109337,2542,41814
23,NYC-Brooklyn Community District 7--Sunset Park...,12123,33725,34227,2643,BK07,07 BK,107031,152685,5641,48051
24,NYC-Brooklyn Community District 10--Bay Ridge ...,19341,29250,37006,2715,BK10,10 BK,111837,128545,9521,56696
25,NYC-Brooklyn Community District 12--Borough Pa...,11935,34127,25665,4861,BK12,12 BK,150320,170011,6009,43222
26,NYC-Brooklyn Community District 14--Flatbush &...,16540,44634,43202,4053,BK14,14 BK,187792,180723,7144,50316
27,NYC-Brooklyn Community District 15--Sheepshead...,13969,39670,39015,3159,BK15,15 BK,146129,137815,7914,52717
28,NYC-Brooklyn Community District 11--Bensonhurs...,17710,44510,45080,3552,BK11,11 BK,139890,187637,7444,47748
29,NYC-Brooklyn Community District 13--Brighton B...,7779,37291,27667,1851,BK13,13 BK,72362,110727,4330,29578
30,NYC-Queens Community District 1--Astoria & Lon...,31144,44614,60125,3551,QN01,01 QN,171484,182860,11163,56269
31,NYC-Queens Community District 3--Jackson Heigh...,9750,46396,39286,2805,QN03,03 QN,122009,182354,6175,49610
32,"NYC-Queens Community District 7--Flushing, New...",23421,65785,66855,2837,QN07,07 QN,195961,256742,13894,52105
33,"NYC-Queens Community District 11--Bayside, New...",16201,27078,36643,1339,QN11,11 QN,101908,120996,10206,80866
34,NYC-Queens Community District 13--Queens Villa...,13931,46022,47111,4807,QN13,13 QN,163851,193102,13685,75732
35,"NYC-Queens Community District 8--Briarwood, Ne...",15239,39390,42641,2507,QN08,08 QN,123131,159330,9084,55324
36,NYC-Queens Community District 4--Elmhurst & So...,8440,37476,32202,2207,QN04,04 QN,99316,154740,4528,45264
37,NYC-Queens Community District 6--Forest Hills ...,13715,37181,39984,3109,QN06,06 QN,90938,107893,10694,61290
38,NYC-Queens Community District 2--Sunnyside & W...,14616,38025,43179,2592,QN02,02 QN,114333,150100,8400,57265
39,"NYC-Queens Community District 5--Ridgewood, Ne...",9845,50499,47314,2012,QN05,05 QN,168570,168488,9843,63660
40,NYC-Queens Community District 9--Richmond Hill...,11481,33490,34519,2750,QN09,09 QN,151242,151202,6309,61275
41,"NYC-Queens Community District 12--Jamaica, New...",15241,59607,47241,8144,QN12,12 QN,229383,251002,11287,52537
42,NYC-Queens Community District 10--Howard Beach...,10916,27125,28640,2871,QN10,10 QN,128116,134827,7417,60946
43,NYC-Queens Community District 14--Far Rockaway...,6905,32452,27962,2533,QN14,14 QN,103396,107944,4645,44239

### Compare BX08 and BX12: BX12 has more population but less household mobiles, then it has more number of complaints than that of BX08.